body{
    ont-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
    line-height: 15px;
}
h2{
    text-align: center;
    font-size:45px;
    font-weight: bold;
}
.header-color{
    color: orange;
}
.flex-container{
    display: flex;
    
}
.half-width{
    width: 60%;
    padding: 8%;
    margin-top: 3%;
    
}
.half-width img{
    width: 100%;
    height: 100%;
    
    
    
}
.Mission{
    background-color: rgb(170, 143, 73) ;
    width: 18%;
    height: 8%;
    padding: 2%;
    border-radius: 10%;
    
    margin-right: 2%;
    margin-left: 15%;

    
}
.Vission{
    background-color: rgb(224, 211, 156);
    padding:2%;
    margin-right: 2%;
    width: 18%;
    height: 8%;
    border-radius: 10%;
}
.Goal{
    background-color: rgb(120, 180, 120);
    padding: 2%;
    border-radius: 10%;
    margin-right: 15%;
    width:18%;
    height: 8%;
}
.My-mission{
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    
    
    
}
.My-mission img{
    width: 60%;
}
.header-border{
    border-left: 10px solid orchid;
    padding: 15px;
    border-width: 5px;
    
}
.box-shadow{
    box-shadow: 10px 10px 10px 10px gray;
    margin-right: 5%;
    border-radius: 5%;
    padding: 10px 10px 10px 10px;
    margin-left: 5%;
    margin-bottom: 5%;
    
}
.first-shadow img{
    width: 80%;
}
.first-shadow{
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;

}
.first-background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 250px;
}
.second-background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 250px;
}
.link-button{
    text-decoration: none;
    background-color: orchid;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight:bold;

}
.footer-edit{
    text-align:center ;
    background-color: black;
    padding-top: 2%;
    padding-bottom: 5%;
    color:white;
}


